@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: #F2F2F2;
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  width: 1200px;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 15px #e5e5e5;
}


.main-container {
  flex-grow: 1;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  }

.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}



/* header */

.page-header {
  color: #000000;
  background: #FFFFFF;
}

/* navigation */

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-list {
  position: relative;
  width: calc(100% / 2 - 138px);
  margin: 0;
  padding: 0;
  display: flex;
  align-self: center;
  list-style: none;
  align-items: center;
  height: 65px;
}

.navigation-main {
  margin-left: 59px;
  padding-bottom: 3px;
}

.navigation-item {
  padding-left: 10px;
  padding-bottom: 3px;
}

.navigation-user {
  position: relative;
  width: calc(100% / 2 - 138px);
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  align-self: center;
  list-style: none;
}

.navigation-wont {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding-right: 72px;
}


.navigation-logo {
  height: 65px;
  display: flex;
  position: relative;
  z-index: 1;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  padding: 6px 12px;
}

.current-page::before {
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  padding-right: 50px;
  border-bottom: 2px solid #756257;
  border-radius: 0px;
  content: "";
}

.current-catalog::before {
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  padding-right: 73px;
  border-bottom: 2px solid #756257;
  border-radius: 0px;
  content: "";
}
.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  color: #756257;
}

.navigation-link:active {
  border-color: transparent;
  color: rgba(117, 98, 87, 0.3);
}

.navigation-right {
  position: relative;
}

.navigation-right:nth-child(2) {
  padding-right: 22px;
}


.navigation-link-right {
  display: flex;
  justify-content: center;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 8px;
}

.navigation-link-right:hover,
.academy-link:hover {
  fill: #756257;
}

.navigation-link-right:focus-visible {
  border-color: #83B3D3;
  fill: #756257;
  box-sizing: border-box;
  outline: none;
}

.heart {
  position: relative;
}

.icon-heart {
  position: relative;
}

.heart-num {
  position: absolute;
  bottom: 10px;
  left: 12px;
}



.button-wont {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  border: none;
  width: 160px;
  height: 37px;
  text-align: center;
  background-color: #756257;
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.button-wont:hover {
  background: #615048;
}

.button-wont:focus-visible {
  outline: 3px solid #83B3D3;
  background: #615048;
}

.button-wont:active {
  color: rgba(255, 255, 255, 0.3);
  background: #615048;
  outline: none;
}

.main-logo {
  display: block;
  margin: 0 auto;
  background-image: url("../img/main-background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  background-repeat: no-repeat;
  max-width: 1200px;
  height: 485px;

}

/* main description */

.logo {
padding-top: 51px;
padding-left: 371px;
padding-right: 373px;
}

.hiden-logo {
  max-width: 1200px;
  height: 57px;
  position: relative;
  bottom: -21px;
}

.main-description {
  text-align: center;
  width: 1200px;
  height: 282px;
}

.content-description {
  color: #000000;
  margin: 0;
  padding-top: 61px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.content-text {
  margin: 0;
  padding-left: 0px;
  padding-top: 33px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

/* city description */

.city {
  display: flex;
}

.city-photo {
  width: 800px;
  height: 384px;
}

.city-descriptions {
  color: #FFFFFF;
  text-align: center;
  background-color: #83B3D3;
  width: 400px;
  height: 384px;
}

.real-place, .block-description{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 96px;
  margin: 0;
}

.number {
  margin: 0;
  padding-top: 30px;
}

.real-text {
  margin: 0;
  margin-top: 30px;
}

/* all services*/



.advantage-item {
  text-align: center;
  color: #333333;
  width: 400px;
  height: 384px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.service-list {
 display:flex;
 list-style: none;
 padding: 0;
 margin: 0;
}


.service-food {
  background-color: #FFFFFF;
}


.home-img {
padding-top: 89px;
}

.food-img {
  padding-top: 91px;
}

.gift-img {
  padding-top: 85px;
}

.benefits-description {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 97px;
}

.benefits-number {
  margin: 0;
  padding-top: 28px;
}

.advantage-text {
  margin: 0;
  padding-top: 30px;
}

.advantage-block {
  background-color: rgba(131, 179, 211, 0.2);
}

/* bridge section */

.bridge-section {
  display: grid;
  grid-template-columns: 2fr 1fr;

}

.bridge-description {
  width: 400px;
  height: 384px;
}

/* advantage section */

.advantage-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;

}

.block-description {
  padding-top: 19px;
  color: #000000;
}

.service-text {
  margin: 0;
  padding-top: 19px;
}

/* catalog */

.all-header {
  display: block;
  background-image: url("../img/catalog-background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  width: 1200px;
  height: 408px;
}

.inner-title {
  margin: 0;
  padding-top: 31px;
  padding-left: 71px;
  font-weight: 700;
  width: 528px;
  height: 68px;
  font-size: 60px;
  line-height: 78px;
}

.all-filter {
  width: 1058px;
  margin: auto;
}

.filter-catalog {
  display: grid;
  grid-template-columns: 197px 292px 348px auto;
  column-gap: 20px;

}


.filter-button {
  display: flex;
  flex-direction: column;
  padding-top: 107px;
}

.filter-group-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 30px;
}

.filter-group-item {
  padding-bottom: 13px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.filter-title {
  padding-top: 45px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}


.button-acept {

  display: inline-block;
  border: none;
  color: #FFFFFF;
  background: #83B3D3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  cursor: pointer;
}

.button-cancel {
  margin-top: 20px;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  width: 160px;
}

.control-label {
  line-height: 20px;
  font-weight: 700;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
}

.control-mark:hover {
  background: rgba(255, 255, 255, 0.6);
}


.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: url("../img/checkbox.svg");
  left: 4px;
  bottom: 1px;
}

.range-scale {
  margin-top: 28px;
  width: 287px;
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border:none;
}

.range-toggle:hover {
  background-color: #FFFFFF;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.range-wrapper-inputs {
  width: 287px;
  padding-top: 34px;
  display: flex;
  margin: 0;
}

.catalog-filter-label {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 12px 12px 10px 0px;
}


.catalog-word {
  display: flex;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.3;
}

.range-input {

  color: #FFFFFF;
  font: inherit;
  text-align: center;
  background-color: transparent;
  appearance: textfield;
  border: none;
}

.left-input {
  border: 2px solid #FFFFFF;
  border-radius: 4px 0px 0px 4px;
  box-sizing: border-box;
  width: 143px;
}

.left-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.left-input:focus {
  outline: 2px solid #81B3D2;
}


.left-input:active {
  background: #756257;
}

.right-input {
  padding-left: 15px;
  border: 2px solid #FFFFFF;
  border-radius: 0px 4px 4px 0px;
  border-left: none;
  box-sizing: border-box;
  width: 143px;
}

.right-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.right-input:focus {
  outline: 2px solid #81B3D2;
}

.right-input:active {
  background: #756257;
}

.right-input:focus {
  box-shadow: 0px 0px 0px 3px #81B3D2;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  margin: 0;
  list-style-type: none;
  padding-top: 5px;
  padding-left: 73px;
}

.breadcrumbs-item {
  padding-top: 2px;
}

.arrow-icon {
  padding-left: 7px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-left: 9px;
}

/* hotel filter */


.sorting-filter {
  display: flex;
  width: 1057px;
  height: 48px;
  margin: 0 auto;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 42px;
  padding-top: 44px;
  justify-content: space-between;
}

.hotel-list {
  margin: 0;
  margin-left: 70px;
  padding: 0;
  width: 1056px;
}

.hotel-card {
  margin: 0 auto;
  display: flex;
  padding-bottom: 9px;
  border-bottom: 1px solid #E5E5E5;
}

.hotel-card :nth-child(3){
  align-self:flex-end;
  margin-left: auto;

}

.hotel-card-text {
  margin: 0;
}

.hotel-card-price {
  margin: 0;
  margin-right: 82px;
}

.card-block {
  margin: 0;
  padding-left: 16px;

}


.hotel-card-link {
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 27px;
  margin-bottom: 18px;
  border: 3px solid transparent;
}


.hotel-card-link:hover {
  opacity: 0.6;
}

.hotel-card-link:focus-visible {
  border-color: #83B3D3;
  outline: none;
}

.hotel-card-link:active {
  border-color: transparent;
  opacity: 0.3;
}

.hotel-card-title {
  position: absolute;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 10px 16px 10px 15px;
  }

.title-block {
  padding-top: 12px;
}


.hotel-card-title:hover {
  color: #756257;
}

.hotel-card-title:focus-visible {
  outline: 3px solid #83B3D3;
}

.hotel-card-title:active {
  color: #756257;
  opacity: 0.3;
}

.hotel-search {
  margin: 0;
  display: flex;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  align-items: center;
}

.sorting-type {
  padding-left: 121px;
  display: flex;
  align-items: center;
}


.card-info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding-top: 46px;
  padding-left: 18px;
}

.cards-filter {
  display: flex;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  padding: 14px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
}

.card-grid-toggle:hover {
  border-color: #83B3D3;
}

.card-grid-toggle:focus-visible {
  border-color: #83B3D3;
  outline: none;
}

.card-grid-toggle:active {
  border-color: #000000;
}

.toggle-current {
  border-color: #000000;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  width: 287px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  padding-left: 12px;
  padding-bottom: 2px;
}

.select-control:hover {
  border: 2px solid #83B3D3;
}

.select-control:focus-visible {
  border: 2px solid #83B3D3;
  outline: none;
}

.select-control:active {
  color: rgba(51, 51, 51, 0.3);
  border-color: transparent;
}

.button-more {
  display: inline-block;
  text-align: center;
  width: 1059px;
  border-bottom: 1px solid #E5E5E5;
  margin-left: 71px;
  padding-top: 29px;
  padding-bottom: 31px;
  cursor: pointer;
}

/* footer search */

.search-hotel {
  background-color: #FFFFFF;
  width: 1200px;
  height: 417px;
  text-align: center;
}

.search-head {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding-top: 88px;
  text-transform: uppercase;
}

.search-text {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding-top: 20000px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  padding-top: 30px;
}

.button-hotel {
  display: inline-block;
  padding-top: 59px;
  cursor: pointer;
}

.button-block {
  padding-top: 32px;
  padding-left: 17px;
}

.button-search {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  border: none;
  color: #FFFFFF;
  background: #756257;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  width: 575px;
  height: 60px;
  cursor: pointer;
}

.button-search:hover {
  background: #615048;
}

.button-search:focus-visible {
  background: #615048;
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;

}

.button-search:active {
  border-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

/* hotel list*/


.hotel-card-link {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color:#000000;
  text-decoration: none;
}

.button-favorites {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background: #83B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  padding-bottom: 7px;
  padding-top: 6px;
  margin-left: 4px;
  cursor: pointer;
  border: 1px solid transparent;
}


.button-favorites:hover {
  background: #68A2CA;
  border-color: #756257;
}

.button-favorites:focus-visible {
  background: #68A2CA;
  outline: 3px solid #756257;

}
.button-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

.button-confirm {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background: #7DB54F;;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  padding-bottom: 10px;
  padding-top: 7px;
  margin-left: 4px;
  cursor: pointer;
  border: 1px solid transparent;
}

.button-confirm:hover {
  background: #6C9E42;
}

.button-confirm:focus-visible {
  outline: 3px solid #756257;
  background: #6C9E42;
}

.button-confirm:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-details {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background: #756257;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 150px;
  height: 37px;
  padding-bottom: 7px;
  padding-top: 6px;
  cursor: pointer;
}

.button-details:hover {
  background: #615048;
}

.button-details:focus-visible {
  background: #615048;
  outline : 3px solid #83B3D3;
}

.button-details:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

.reit {
  display: block;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 20px;
  color: #333333;
  background: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 158px;
  height: 18px;
  padding-bottom: 10px;
  padding-top: 9px;
  margin-bottom: 22px;
}

.stars {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 47px;
}

.button-load {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 625px;
  height: 55px;
  cursor: pointer;
}

.button-load:hover {
  background: #68A2CA;
}

.button-load:focus-visible {
  background: #68A2CA;
  border: 3px solid #756257;
  outline: none;
}

.button-load:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

/* pagination */


.pagination-block {
  display: flex;
  padding-top: 29px;
  padding-left: 71px;
}

.pagintaion {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.pagination-link {
  font-family: "PT Sans", sans-serif;
  border: none;
  margin-right: 8px;
  color: #FFFFFF;
  background-color: #83B3D3;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.pagination-link:hover, .pagination-current {
  background-color: #68A2CA;
  color: #FFFFFF;
}

.pagination-link:focus-visible, .pagination-current {
  background: #68A2CA;
  border: 3px solid #756257;
  border-radius: 4px;
  outline: none;
}

.pagination-link:active, .pagination-current {
  border-color:transparent;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}



.page-card-sorting {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding-left: 292px;
  padding-top: 16px;
  font-weight: 400;
  color:#333333;
  font-size: 18px;
  line-height: 23px;
}

.sorting-page {
  padding-top: 4px;
  padding-left: 52px;
}

.sorting-control {
  font-family: "PT Sans", sans-serif;
  padding-left: 10px;
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.sorting-control:hover {
  border: 2px solid #83B3D3;
}

.sorting-control:focus-visible {
  border: 2px solid #83B3D3;
  outline: none;
}

.sorting-control:active {
  color: rgba(51, 51, 51, 0.3);
  border-color: transparent;
}

/* footer subscription */

.subscription {
  display: block;
  background-image: url("../img/background-footer.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  width: 1200px;
  height: 411px;
  text-align: center;
}

.sub-head {
  margin: 0;
  padding-top: 91px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sub-catalog {
  padding-top: 88px;
}

.sub-text {
  display:inline-block;
  margin: 0;
  padding-top: 29px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscription-form {
  padding-top: 48px;
  display: flex;
  justify-content:center
}

.sub-button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  border: none;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background:#83B3D3;
  width: 200px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.sub-button:hover {
  background: #68A2CA;
}

.sub-button:focus-visible {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.sub-button:active {
  border-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

input[type=text] {
  font-family: "PT Sans", sans-serif;
  padding-left: 21px;
  font-size: 18px;
  line-height: 26px;
  border: none;
  box-sizing: border-box;
  background: #F2F2F2;
  border: 2px solid transparent;
  border-radius: 10px 0px 0px 10px;
  width: 600px;
  height: 60px;
}

input[type=text]:hover {
  background: #E6E6E6;
  color:rgba(0, 0, 0, 0.3);
}

input[type=text]:focus-visible {
  outline: 3px solid #83B3D3;
  background: #FFFFFF;
  color:rgba(0, 0, 0, 0.3);
}

input[type=text]:active {
  background: #FFFFFF;
  border-color:#000000;
  color: #000000;
  outline: none;

}

input[type=text]:invalid {
  background: #FFFFFF;
  border-color:#FF5757;
  }

.sub-inner {
  display: block;
  color: #000000;
  background-image: none;
  margin-bottom: 40px;
}

/* footer social */

.footer-social{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  height: 120px;
  margin: 0 auto;
  padding: 0;
}

.footer-social-list {
  padding-right: 190px;
  padding-bottom: 7px;
  display: flex;
  margin: auto;
  width: 120px;
  justify-content: space-around;
  list-style: none;
}

.footer-social-link {
  display: block;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 10px;
  fill:#83B3D3;
}

.footer-social-link:hover {
  fill: #68A2CA;
}

.footer-social-link:focus-visible {
  border-color: #83B3D3;
  fill: #68A2CA;
  outline: none;
}

.footer-social-link:active {
  opacity: 0.3;
  border-color: transparent;
}

.footer-contacts {
  color: #000000;
  font-weight: 400;
  line-height: 40px;
  font-size: 40px;
  text-decoration: none;
  margin-bottom: 6px;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 15px;
}

.footer-contacts:hover {
  color: #756257;
}


.academy-link{
  display: grid;
  margin:  0 auto;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 5px;
  margin-left: 198px;
}

.academy-link:focus-visible,
.footer-contacts:focus-visible
 {
  outline: 3px solid#83B3D3;
}

.academy-link:active,
.footer-contacts:active {
  color: #756257;
  opacity: 0.3;
  border-color: transparent;
  outline: none;
}

.popover {
  position: absolute;
  margin-top: 9px;
  right: -160px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #242424;
  background-color: #FFFFFF;
  min-height: 232px;
  border-radius: 20px;
}

.popover-open {
  display: block;
}

.popover-close-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 60px;
  background: #756257;
  border-radius: 0px 0px 20px 20px;
  border: none;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;

}

.popover-content {
  height: 100%;

}

.popover-items-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.hotel-popover {
  display: flex;
}


.popover-card-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.popover-wrapper {
  padding-left: 18px;
}

.hotel-popover {
  border: 3px solid tomato;
}

.hotel-popover:hover {
  opacity: 0.3;
}

.hotel-popover:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.popover-card-title {
  margin: 0;
  margin-top: 26px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;

}

.popover-text {
  display: inline-block;
  margin: 0;
  padding: 0;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;

}

.popover-img {
  padding-top: 25px;
  padding-left: 25px;
}

.delete {
  padding-top: 31px;
  padding-right: 25px;
  fill: #000000;
}

.delete:hover {
  fill: #000000;
}

.delete:focus {
}
