@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: #F2F2F2;
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  width: 1200px;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 15px #e5e5e5;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

/* header */

.page-header {
  color: #000000;
  background: #FFFFFF;
}

/* navigation */

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 51px;
  position: relative;
  width: calc(100% / 2 - 138px);
  align-self: center;
  list-style: none;
  align-items: center;
  min-height: 65px;
}

.navigation-item {
  padding-left: 9px;
  padding-bottom: 2px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: calc(100% / 2 - 138px);
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  align-self: center;
  list-style: none;
}

.navigation-wont {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding-right: 72px;
}

.navigation-logo {
  height: 65px;
  display: flex;
  position: relative;
  right: 25px;
  z-index: 1;
}

.navigation-logo:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 0px 0px 20px 20px;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  padding: 6px 12px;
}

.current-page::before {
  position: absolute;
  bottom: -1px;
  padding-right: 70px;
  height: 2px;
  background-color: #756257;
  border-radius: 0px;
  content: "";
}

.current-catalog::before {
  position: absolute;
  bottom: -1px;
  padding-right: 93px;
  border-bottom: 2px solid #756257;
  border-radius: 0px;
  content: "";
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  color: #756257;
}

.navigation-link:active {
  border-color: transparent;
  color: rgba(117, 98, 87, 0.3);
}

.navigation-right {
  position: relative;
}

.navigation-right:nth-child(2) {
  padding-right: 21px;
}

.navigation-link-right {
  display: flex;
  justify-content: center;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 8px;
}

.navigation-link-right:hover,
.academy-link:hover {
  fill: #756257;
}

.navigation-link-right:focus-visible {
  border-color: #83B3D3;
  fill: #756257;
  box-sizing: border-box;
  outline: none;
}

.heart {
  display: flex;
  align-self: center;
  position: relative;
}

.icon-heart {
  position: relative;
}

.heart-num {
  position: absolute;
  bottom: 8px;
  left: 12px;
}

.button-wont {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  border: none;
  min-width: 160px;
  min-height: 37px;
  text-align: center;
  background-color: #756257;
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.button-wont:hover {
  background: #615048;
}

.button-wont:focus-visible {
  outline: 3px solid #83B3D3;
  background: #615048;
}

.button-wont:active {
  color: rgba(255, 255, 255, 0.3);
  background: #615048;
  outline: none;
}

.main-logo {
  display: block;
  margin: 0 auto;
  background-image: url("../img/main-background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  background-color: #4a7699;
  background-repeat: no-repeat;
  max-width: 1200px;
  height: 485px;
}

/* main description */

.logo {
  padding-top: 51px;
  padding-left: 371px;
  padding-right: 373px;
}

.hidden-logo {
  max-width: 1200px;
  height: 57px;
  position: relative;
  bottom: -21px;
}

.main-description {
  text-align: center;
  width: 1200px;
  height: 282px;
}

.content-description {
  color: #000000;
  margin: 0;
  padding-top: 61px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.content-text {
  margin: 0;
  padding-left: 0px;
  padding-top: 33px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

/* city description */

.city {
  display: flex;
}

.city-photo {
  width: 800px;
  height: 384px;
}

.city-descriptions {
  display: block;
  color: #FFFFFF;
  text-align: center;
  background-color: #83B3D3;
  width: 400px;
}

.real-place, .block-description {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 96px;
  margin: 0;
}

.number {
  margin: 0;
  padding-top: 30px;
}

.real-text {
  margin: 0;
  margin-top: 30px;
}

/* all services*/

.advantage-item {
  text-align: center;
  color: #333333;
  width: 400px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.service-list {
 display:flex;
 flex-wrap: wrap;
 list-style: none;
 padding: 0;
 margin: 0;
}

.service-food {
  background-color: #FFFFFF;
}

.home-img {
  padding-top: 89px;
}

.food-img {
  padding-top: 91px;
}

.gift-img {
  padding-top: 85px;
}

.benefits-description {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 97px;
}

.benefits-number {
  margin: 0;
  padding-top: 28px;
}

.advantage-text {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 109px;
}

.advantage-block {
  background-color: rgba(131, 179, 211, 0.2);
}

/* bridge section */

.bridge-section {
  display: flex;
  flex-wrap: wrap;
}

.bridge-description {
  width: 400px;
}

/* advantage section */

.advantage-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.block-description {
  padding-top: 19px;
  color: #000000;
}

.service-text {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 90px;
}

/* catalog */

.all-header {
  display: block;
  background-image: url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
  background-color: #4a7699;
  color: #FFFFFF;
  min-width: 1200px;
  min-height: 408px;
}

.inner-title {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 35px;
  padding-left: 71px;
  font-weight: 700;
  min-width: 528px;
  font-size: 60px;
  line-height: 72px;
}

.all-filter {
  display: flex;
  flex-wrap: wrap;
  width: 1058px;
  margin: auto;
}

.filter-catalog {
  display: grid;
  grid-template-columns: 197px 292px 348px auto;
  column-gap: 20px;
}

.filter-button {
  display: flex;
  flex-direction: column;
  padding-top: 105px;
}

.filter-group-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 30px;
}

.filter-group-item {
  padding-bottom: 13px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.filter-title {
  padding: 0;
  padding-top: 44px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.button-acept {
  display: inline-block;
  border: none;
  color: #FFFFFF;
  background: #83B3D3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 4px;
  min-width: 160px;
  min-height: 48px;
  cursor: pointer;
}

.button-acept:hover {
  background-color: #68A2CA;;
}

.button-acept:focus-visible {
  background-color: #68A2CA;
  outline: 3px solid #FFFFFF;
}

.button-acept:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-cancel {
  margin-top: 13px;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0;
  padding: 6px 11px;
}

.button-cancel:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-cancel:focus-visible {
  align-self: center;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-cancel:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.control-label {
  line-height: 20px;
  font-weight: 400;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control-input:focus + .control-mark {
	outline: 3px solid #83B3D3;
}

.control:active .control-mark{
  opacity: 0.3;
  outline: none;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: url("../img/checkbox.svg");
  left: 4px;
  bottom: 1px;
}

.range-scale {
  margin-top: 28px;
  width: 287px;
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border:none;
}

.range-toggle:hover {
  background-color: #FFFFFF;
}

.range-toggle:active,
.range-toggle:focus-visible {
  outline: 3px solid #83B3D3;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.filter-group {
  margin: 0;
  padding:0;
  border: none;
}

.range {
  margin-top: 35px;
  width: 287px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  position: relative;
  margin: 0;
  padding: 0;
}

.range-wrapper-inputs {
  padding: 0;
  margin: 0;
}

.range-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  appearance: textfield;
  box-sizing: border-box;
  width: calc(287px / 2);
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 3px;
}

.left-input {
  border-radius: 4px 0 0 4px;
}

.left-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.right-input {
  border-radius: 0 4px 4px 0;
}

.right-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input:focus-visible {
  border-color: #FFFFFF;
  outline: 3px solid #81B3D2;
  box-shadow: inset 0 0 0 3px #81B3D2;
  z-index: 1;
}

.range-input:active {
  background: #756257;
  outline: none;
  box-shadow: none;
}

.input-left::after {
  content: "от";
	position:absolute;
  width: 17px;
  height: 23px;
  top: 11px;
  left: 112px;
	color: rgba(255, 255, 255, 0.6);
}

.input-right::after  {
  content: "до";
	position:absolute;
  width: 18px;
  height: 24px;
  top: 11px;
  left: 108px;
	color: rgba(255, 255, 255, 0.6);
}

.right-wrapper {
  margin-left: -2px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 68px;
}

.bread-icon {
  display: flex;
  align-self: center;
}

.breadcrumbs-icon {
  padding: 5px;
}

.bread-icon {

  text-decoration: none;
  outline: none;
}

.bread-icon:hover {
  opacity: 0.6;
}

.bread-icon:focus-visible .breadcrumbs-icon {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.bread-icon:active {
  opacity: 0.3;
}


.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  outline: none;
  padding: 1px 8px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

/* hotel filter */

.sorting-filter {
  display: flex;
  flex-wrap: wrap;
  min-width: 1057px;
  min-height: 48px;
  margin: 0 auto;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 42px;
  padding-top: 44px;
  justify-content: space-between;
  width: 1056px;
}

.hotel-list {
  margin: 0;
  margin-left: 70px;
  padding: 0;
  width: 1056px;
}

.hotel-card {
  margin: 0 auto;
  display: flex;
  padding-bottom: 9px;
  border-bottom: 1px solid #E5E5E5;
}

.hotel-card :nth-child(3){
  align-self:flex-end;
  margin-left: auto;
}


.hotel-card-text {
  margin: 0;
}

.hotel-card-price {
  margin: 0;
  margin-right: 82px;
}

.card-block {
  margin: 0;
  padding-left: 16px;
}

.hotel-card-link {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  margin-top: 27px;
  margin-bottom: 18px;
  border: 3px solid transparent;
}

.hotel-card-link:hover {
  opacity: 0.6;
}

.hotel-card-link:focus-visible {
  border-color: #83B3D3;
  outline: none;
}

.hotel-card-link:active {
  border-color: transparent;
  opacity: 0.3;
}

.hotel-card-image {
  display: block;
}

.hotel-card-title {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 17px;
  margin-top: 14px;
}

.title-block {
  padding-top: 12px;
}

.hotel-card-title:hover {
  color: #756257;
}

.hotel-card-title:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: 5px;
}

.hotel-card-title:active {
  color: #756257;
  opacity: 0.3;
}

.hotel-search {
  margin: 0;
  display: flex;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  align-items: center;
}

.sorting-type {
  margin-left: 118px;
  display: flex;
  align-items: center;
}

.card-info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding-left: 18px;
}

.cards-filter {
  display: flex;

}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  padding: 14px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
}

.card-grid-toggle:hover {
  border-color: #83B3D3;
}

.card-grid-toggle:focus-visible {
  border-color: #83B3D3;
  outline: none;
}

.card-grid-toggle:active {
  border-color: #000000;
}

.toggle-current {
  border-color: #000000;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 287px;
  min-height: 48px;
  font-size: 18px;
  line-height: 23px;
  padding-left: 15px;
  padding-bottom: 2px;
  background-image: url("../img/drop.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
  appearance: none;
}

.select-control:hover {
  border: 2px solid #83B3D3;
}

.select-control:focus-visible {
  border: 2px solid #83B3D3;
  outline: none;
}

.select-control:active {
  color: rgba(51, 51, 51, 0.3);
  border: 2px solid #E6E6E6;
}

.button-more {
  display: inline-block;
  text-align: center;
  width: 1059px;
  border-bottom: 1px solid #E5E5E5;
  margin-left: 71px;
  padding-top: 29px;
  padding-bottom: 31px;
  cursor: pointer;
}

/* footer search */

.search-hotel {
  background-color: #FFFFFF;
  width: 1200px;
  text-align: center;
}

.search-head {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding-top: 89px;
  text-transform: uppercase;
}

.search-text {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding-top: 20000px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  padding-top: 30px;
}

.button-hotel {
  display: inline-block;
  padding-top: 59px;
  cursor: pointer;
  padding-bottom: 91px;
}

.button-block {
  padding-top: 32px;
  padding-left: 17px;

}

.button-search {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  border: none;
  color: #FFFFFF;
  background: #756257;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  min-width: 575px;
  min-height: 60px;
  cursor: pointer;
}

.button-search:hover {
  background: #615048;
}

.button-search:focus-visible {
  background: #615048;
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.button-search:active {
  border-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

/* hotel list*/


.button-favorites {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background: #83B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  min-width: 160px;
  min-height: 37px;
  padding-bottom: 7px;
  padding-top: 6px;
  margin-left: 4px;
  cursor: pointer;
  border: 1px solid transparent;
}


.button-favorites:hover {
  background: #68A2CA;
  border-color: #756257;
}

.button-favorites:focus-visible {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.button-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

.button-confirm {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background: #7DB54F;;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  min-width: 160px;
  min-height: 37px;
  padding-bottom: 10px;
  padding-top: 7px;
  margin-left: 4px;
  cursor: pointer;
}

.button-confirm:hover {
  background: #6C9E42;
}

.button-confirm:focus-visible {
  outline: 3px solid #756257;
  background: #6C9E42;
}

.button-confirm:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-details {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background: #756257;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  min-width: 150px;
  min-height: 37px;
  padding-bottom: 7px;
  padding-top: 6px;
  cursor: pointer;
}

.button-details:hover {
  background: #615048;
}

.button-details:focus-visible {
  background: #615048;
  outline : 3px solid #83B3D3;
}

.button-details:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

.reit {
  display: block;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 20px;
  color: #333333;
  background: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  min-width: 158px;
  min-height: 18px;
  padding-bottom: 10px;
  padding-top: 9px;
  margin-bottom: 20px;
}

.stars {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 46px;
}

.button-load {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 625px;
  height: 55px;
  cursor: pointer;
}

.button-load:hover {
  background: #68A2CA;
}

.button-load:focus-visible {
  background: #68A2CA;
  border: 3px solid #756257;
  outline: none;
}

.button-load:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

/* pagination */

.pagination-block {
  display: flex;
  padding-top: 29px;
  padding-left: 71px;
}

.pagintaion {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  padding: 14px 16px;
  margin-right: 8px;
  color: #FFFFFF;
  background-color: #83B3D3;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  border-radius: 4px;
  min-width: 55px;
  min-height: 55px;
  cursor: pointer;
  text-decoration: none;
}

.pagination-link:hover, .pagination-current {
  background-color: #68A2CA;
  color: #FFFFFF;
}

.pagination-link:focus-visible, .pagination-current {
  background: #68A2CA;
  outline: 3px solid #756257;
  border-radius: 4px;
  outline: none;
}

.pagination-link:active, .pagination-current {
  border-color:transparent;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.page-card-sorting {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding-left: 292px;
  padding-top: 16px;
  font-weight: 400;
  color:#333333;
  font-size: 18px;
  line-height: 23px;
}

.sorting-page {
  padding-top: 4px;
  padding-left: 52px;
}

.sorting-control {
  font-family: "PT Sans", sans-serif;
  padding-left: 15px;
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  background-image: url("../img/drop.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
  appearance: none;
}

.sorting-control:hover {
  border: 2px solid #83B3D3;
}

.sorting-control:focus-visible {
  border: 2px solid #83B3D3;
  outline: none;
}

.sorting-control:active {
  color: rgba(51, 51, 51, 0.3);
  border-color: transparent;
}

/* footer subscription */

.subscription {
  display: block;
  background-image: url("../img/background-footer.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #4a7699;
  width: 1200px;
  height: 411px;
  text-align: center;
}

.sub-head {
  margin: 0;
  padding-top: 92px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sub-catalog {
  padding-top: 88px;
}

.sub-text {
  display:inline-block;
  margin: 0;
  padding-top: 30px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscription-form {
  padding-top: 47px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center
}

.sub-button {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  border: none;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background:#83B3D3;
  min-width: 200px;
  min-height: 60px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.sub-button:hover {
  background: #68A2CA;
}

.sub-button:focus-visible {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.sub-button:active {
  border-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

input[name="subscription-date"] {
  font-family: "PT Sans", sans-serif;
  padding-left: 21px;
  font-size: 18px;
  line-height: 26px;
  border: none;
  box-sizing: border-box;
  background: #F2F2F2;
  border: 2px solid transparent;
  border-radius: 10px 0px 0px 10px;
  width: 600px;
  padding-bottom: 2px;
}

input[type=text]:hover {
  background: #E6E6E6;
  color:rgba(0, 0, 0, 0.3);
}

input[type=text]:focus-visible {
  outline: 3px solid #83B3D3;
  background: #FFFFFF;
  color:rgba(0, 0, 0, 0.3);
}

input[type=text]:active {
  background: #FFFFFF;
  border-color:#000000;
  color: #000000;
  outline: none;
}

input[type=text]:invalid {
  background: #FFFFFF;
  border-color:#FF5757;
}

.sub-inner {
  display: block;
  color: #000000;
  background-image: none;
  background-color: #FFFFFF;
  margin-bottom: 40px;
}

/* footer social */

.footer-social{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background-color: #FFFFFF;
  padding-top: 20px;
}

.footer-social-list {
  padding-right: 190px;
  padding-bottom: 7px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 133px;
  justify-content: space-around;
  list-style: none;
}

.footer-social-link {
  display: block;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 10px;
  fill:#83B3D3;
}

.footer-social-link:hover {
  fill: #68A2CA;
}

.footer-social-link:focus-visible {
  border-color: #83B3D3;
  fill: #68A2CA;
  outline: none;
}

.footer-social-link:active {
  opacity: 0.3;
  border-color: transparent;
}

.footer-contacts {
  color: #000000;
  font-weight: 400;
  line-height: 40px;
  font-size: 40px;
  text-decoration: none;
  margin-bottom: 6px;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 15px;
}

.footer-contacts:hover {
  color: #756257;
}

.academy-link{
  display: grid;
  margin:  0 auto;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 5px;
  margin-left: 198px;
}

.academy-link:focus-visible,
.footer-contacts:focus-visible {
  outline: 3px solid#83B3D3;
}

.academy-link:active,
.footer-contacts:active {
  color: #756257;
  opacity: 0.3;
  border-color: transparent;
  outline: none;
}

.popover {
  position: absolute;
  margin-top: 11px;
  right: -160px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  font-family: "PT Sans", sans-serif;
  color: #242424;
  background-color: #FFFFFF;
  min-height: 232px;
  border-radius: 20px;
  box-shadow: -1px -1px 0 0 #E6E6E6;
  display: none;
}

.popover-open {
  display: block;
}

.popover-content::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  top: -0.4rem;
  left: 11.9rem;
  background-color: #FFFFFF;
  box-shadow: -1px -1px 0 0 #E6E6E6;
}

.popover-open {
  display: block;
}

.popover-close-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #756257;
  border-radius: 0px 0px 20px 20px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.popover-close-button:hover {
  background-color: #615048;
}

.popover-close-button:focus-visible {
  outline: 3px solid #83B3D3;
  background-color: #615048;
}

.popover-close-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #615048;
  outline: none;
}

.popover-content {
  height: 100%;
  padding: 25px;
  padding-right: 17px;
}

.popover-items-list {
  padding: 0;
  display: flex;
  flex-direction: column;

}

.hotel-popover {
  display: flex;
}

.popover-card-item {
  display: flex;
  justify-content: space-between;
}

.popover-card-item:not(:last-child) {
  margin-bottom: 25px;
}

.popover-card-item:last-child {
  padding-bottom: 60px;
}

.popover-wrapper {
  padding-left: 18px;
}

.hotel-popover {
  color: #000000;
  text-decoration: none;
  align-items: flex-start;
}

.hotel-popover:hover {
  opacity: 0.3;
}

.hotel-popover:focus-visible  {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  outline-offset: 8px;
}

.popover-card-title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.popover-text {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.delete {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popover-svg {
  margin-top: 4px;
  fill: #000000;
  opacity: 0.2;
}

.popover-svg:hover {
  opacity: 1;
}

.delete:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  box-sizing: border-box;
}

.popover-svg:active {
  fill: #000000;
  opacity: 0.2;
}

/* modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.all-modal {
  position: relative;
  margin: auto;
  padding-top: 44px;
  padding-left: 69px;
  padding-right: 69px;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 0 #e5e5e5;
  border-radius: 30px;
}

.modal-close-button {
  position: relative;
  padding: 0;
  left: 524px;
  top: 19px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.close-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  fill: #000000;
}

.close-svg:hover  {
  background-color: #E6E6E6;
}

.modal-close-button:focus-visible .close-svg {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;

}

.modal-close-button:active .close-svg {
  background-color: #E6E6E6;
  outline: none;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 67px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.modal-search-form {
  width: 575px;
  padding-left: 2px;
}

.search-form-options {
  display: flex;
  margin-bottom: 1px;
}

.field-group p {
  margin: 0;
  padding: 0;
}

.modal-search-form .field-group {
  display: flex;
  width: 575px;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 44px;
}

.field-group input {
  box-sizing: border-box;
  padding: 2px 18px 4px;
  background-color: #F2F2F2;
  border: 2px solid transparent;
}

.field-group input:hover,
.field-group input:focus-visible  {
  background-color: #E5E5E5;
}

.field-group input:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.field-icon .date-field:not(:placeholder-shown) {
  background: #FFFFFF;
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
}


input[type="text"] {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.6);
}

.modal-form-lable {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  padding-top: 8px;
  padding-right: 30px;
  margin-right: auto;
}


.field-group-wrapper {
  display: flex;
  flex-direction: column;
}

.field-icon {
  position: relative;
}

.field-icon::after {
  content: "";
	position:absolute;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  left: 386px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
}

.date-field {
  width: 420px;
}

.message-error {
  position: relative;
}

.message-success {
  position: relative;
}

.message-error::after {
  position: absolute;
  content: "Мы не можем отправить вас в прошлое.";
  width: 420px;
  top: 3rem;
  left: 9.65rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color:#FF5757;
}

.message-success::after {
  position: absolute;
  content: "На эти даты есть свободные номера. Пока есть.";
  width: 420px;
  top: 3rem;
  left: 9.60rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color:#333333;
}

.form-label-icon {
  position: relative;
  padding-top: 9px;
  padding-left: 57px;
}

.quantity-person {
  position: relative;
  width: 133px;
  display: flex;
}

.quantity-person p {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

.quantity-person input[value] {
  width: 133px;
  font: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  appearance: none;
  border-radius: 4px;
}

.counter-input-btn {
  margin: 0;
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  cursor: pointer;
}

.counter-input-minus-btn {
  display: inline-block;
  position: relative;
  top: -2px;
  right: 0;
  bottom: 0;
  left: 19px;
  margin: auto;
  border-radius: 4px;
}

.counter-input-plus-btn {
  display: inline-block;
  position: relative;
  top: -2px;
  right: 0;
  bottom: 0;
  left: -32px;
  margin: auto;
  border-radius: 4px;
}

.quantity-person-icon-minus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 13px;
  height: 13px;
  border-radius: 4px;
  fill: rgba(0, 0, 0, 0.3);
}

.quantity-person-icon-plus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 13px;
  height: 13px;
  border-radius: 4px;
  fill: rgba(0, 0, 0, 0.3);
}

.counter-input-btn:hover .quantity-person-icon{
  fill: #000000;
}

.counter-input-btn:focus-visible .quantity-person-icon{
  fill: #000000;
  outline: 3px solid #83B3D3;
  outline-offset: 3px;
}

.counter-input-btn:active .quantity-person-icon{
  fill: rgba(0, 0, 0, 0.2);
  outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  overflow: hidden;
}

.tooltip-s {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0.90rem;
  left: 6.9rem;
  background-color: #83B3D3;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-s:hover {
  background-color: #68A2CA;
}

.tooltip-s:focus-visible {
  outline: 2px solid #756257;
}


.tooltip::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 9px;
  top: 30%;
  left: 47%;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
}

.form-label-icon {
  position: relative;
}

.form-label-icon span {
  display: none;
  position: absolute;
  top: 119%;
  left: -23%;
  margin-top: -5px;
  margin-left: 25px;
}

.form-label-icon button + span {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  width: 256px;
  padding: 19px 18px 24px 23px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  z-index: 1;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 10px;
  pointer-events: none;
}

.form-label-icon button:hover + span {
  visibility: visible;
}


.form-label-icon span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #333333  transparent;
  top: -19px;
  left: 46%;
}

.modal-search-button {
  width: 575px;
  padding: 5px 10px;
  margin-bottom: 65px;
  line-height: 50px;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #83b3d3;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.modal-search-button:hover {
  background-color: #68A2CA;;
}

.modal-search-button:focus-visible {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.modal-search-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
