@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: #F2F2F2;
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  width: 1200px;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  }

.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}



/* header */

.page-header {
  color: #000000;
  background: #FFFFFF;
}

/* navigation */

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-list {
  width: calc(100% / 2 - 138px);
  margin: 0;
  padding: 0;
  display: flex;
  align-self: center;
  list-style: none;
  align-items: center;
  height: 65px;
}

.navigation-main {
  margin-left: 71px;
  margin-bottom: 5px;
}

.navigation-item {
  margin-left: 33px;
  margin-bottom: 5px;
}

.navigation-user {
  width: calc(100% / 2 - 138px);
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  align-self: center;
  list-style: none;
}

.navigation-wont {
  margin-right: 72px;
}

.navigation-heart {
  margin-right: 20px;
}

.navigation-search {
  margin-right: 21px;
  margin-top: 7px;
}

.navigation-logo {
  height: 65px;
  display: flex;
  position: relative;
  z-index: 1;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}


.button-wont {
  font-family: "PT Sans", sans-serif;
  border: none;
  width: 160px;
  height: 37px;
  text-align: center;
  background-color: #756257;
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-logo {
  display: block;
  margin: 0 auto;
  background-image: url("../img/main-background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  background-repeat: no-repeat;
  max-width: 1200px;
  height: 485px;

}

/* main description */

.logo {
padding-top: 51px;
padding-left: 371px;
padding-right: 373px;
}

.hiden-logo {
  max-width: 1200px;
  height: 57px;
  position: relative;
  bottom: -21px;
}

.main-description {
  text-align: center;
  width: 1200px;
  height: 282px;
}

.content-description {
  color: #000000;
  margin: 0;
  padding-top: 61px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.content-text {
  margin: 0;
  padding-left: 0px;
  padding-top: 33px;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

/* city description */

.city {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.city-photo {
  width: 800px;
  height: 384px;
}

.city-descriptions {
  color: #FFFFFF;
  text-align: center;
  background-color: #83B3D3;
  width: 400px;
  height: 384px;
}

.real-place, .block-description{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 96px;
  margin: 0;
}

.number {
  margin: 0;
  padding-top: 30px;
}

.real-text {
  margin: 0;
  margin-top: 30px;
}

/* all services*/



.advantage-item {
  text-align: center;
  color: #333333;
  width: 400px;
  height: 384px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.service-list {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 list-style: none;
 padding: 0;
 margin: 0;
}


.service-food {
  background-color: #FFFFFF;
}


.home-img {
padding-top: 89px;
}

.food-img {
  padding-top: 91px;
}

.gift-img {
  padding-top: 85px;
}

.benefits-description {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 97px;
}

.benefits-number {
  margin: 0;
  padding-top: 28px;
}

.advantage-text {
  margin: 0;
  padding-top: 30px;
}

.advantage-block {
  background-color: rgba(131, 179, 211, 0.2);
}

/* bridge section */

.bridge-section {
  display: grid;
  grid-template-columns: 2fr 1fr;

}

.bridge-description {
  width: 400px;
  height: 384px;
}

/* advantage section */

.advantage-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;

}

.block-description {
  padding-top: 19px;
  color: #000000;
}

.service-text {
  margin: 0;
  padding-top: 19px;
}

/* catalog */

.all-header {
background-image: url("../img/catalog-background.jpg");
background-color: #000000;
color: #FFFFFF;
width: 1200px;
height: 408px;
}

.inner-title {
  margin: 0;
  padding-top: 31px;
  padding-left: 71px;
  font-weight: 700;
  width: 528px;
  height: 68px;
  font-size: 60px;
  line-height: 78px;
}

.filter-catalog {
  padding-top: 51px;
  display: flex;
}



.filter-group-list {
  margin: 0;
}

.button-acept {
  border: none;
  color: #FFFFFF;
  background: #83B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 160px;
  height: 48px;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  margin: 0;
  list-style-type: none;
  padding-top: 5px;
  padding-left: 73px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

}

/* hotel filter */

.sorting-filter {
  display: flex;
  width: 1057px;
  height: 48px;
  margin: 0 auto;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 42px;
  padding-top: 44px;
  justify-content: space-between;
}

.hotel-list {
  width: 1056px;
  padding-left: 72px;
  margin: 0;

}

.hotel-card {
  margin: 0 auto;
  display: flex;
  padding-bottom: 9px;
  border-bottom: 1px solid #E5E5E5;
}

.hotel-card :nth-child(3){
  align-self:flex-end;
  margin-left: auto;

}

.hotel-card-text {
  margin: 0;
}

.hotel-card-price {
  margin: 0;
  margin-right: 85px;
}

.card-block {
  padding-left: 37px;
}


.hotel-card-image {
  display: flex;
  padding-top: 30px;
  padding-bottom: 21px;
}

.hotel-card-title {
  padding-top: 27px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-search {
  margin: 0;
  display: flex;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  align-items: center;
}

.sorting-type {
  padding-left: 130px;
  display: flex;
  align-items: center;
}


.card-info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding-bottom: 31px;
}
.cards-filter {
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
}
.button-cadrs {
  margin-left: 6px;
  display: flex;
  padding: 16px;
  border: #E5E5E5 1px solid;
  border-radius: 4px;

}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  width: 287px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
}

.button-more {
  text-align: center;
  width: 1059px;
  border-bottom: 1px solid #E5E5E5;
  margin-left: 71px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* footer serach */

.search-hotel {
  background-color: #FFFFFF;
  width: 1200px;
  height: 417px;
  text-align: center;
}

.search-head {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding-top: 88px;
  text-transform: uppercase;
}

.search-text {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding-top: 20000px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  padding-top: 30px;
}

.button-hotel {
  padding-top: 59px;
}

.button-search {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  border: none;
  color: #FFFFFF;
  background: #756257;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  width: 575px;
  height: 60px;
}

/* hotel list*/


.hotel-card-link {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color:#000000;
  text-decoration: none;
}



.button-favorites {
  font-family: "PT Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background: #83B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  padding-bottom: 10px;
  padding-top: 9px;
  margin-left: 2px;
}

.button-confirm {
  font-family: "PT Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background: #7DB54F;;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  padding-bottom: 10px;
  padding-top: 9px;
  margin-left: 2px;
}

.button-details {
  font-family: "PT Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background: #756257;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 151px;
  height: 37px;
  padding-bottom: 10px;
  padding-top: 9px;

}

.reit {
  font-family: "PT Sans", sans-serif;
  margin-bottom: 20px;
  color: #333333;
  background: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 160px;
  height: 18px;
  padding-bottom: 10px;
  padding-top: 9px;
}

.button-load {
  font-family: "PT Sans", sans-serif;
  border: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 625px;
  height: 55px;
}

/* pagination */

.pagination-block {
  display: flex;
  padding-top: 30px;
  padding-left: 72px;
}

.pagintaion {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.pagination-link {
  font-family: "PT Sans", sans-serif;
  border: none;
  margin-right: 8px;
  color: #FFFFFF;
  background-color: #83B3D3;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 55px;
  height: 55px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}


.page-card-sorting {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding-left: 292px;
  padding-top: 16px;
  font-weight: 400;
  color:#333333;
  font-size: 18px;
  line-height: 23px;
}

.sorting-page {
  padding-top: 4px;
  padding-left: 52px;
}

.sorting-control {
  font-family: "PT Sans", sans-serif;
  padding-left: 10px;
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

/* footer subscription */

.subscription {
  background-image: url("../img/background-footer.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  width: 1200px;
  height: 411px;
  text-align: center;
}

.sub-head {
  margin: 0;
  padding-top: 87px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sub-text {
  margin: 0;
  padding-top: 30px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscription-form {
  padding-top: 47px;
  display: flex;
  justify-content:center
}

.sub-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  border: none;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background:#83B3D3;
  width: 200px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
}

input[type=text] {
  font-family: "PT Sans", sans-serif;
  padding-left: 22px;
  font-size: 18px;
  line-height: 26px;
  border: none;
  box-sizing: border-box;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  width: 600px;
  height: 60px;
}

.sub-inner {
  color: #000000;
  background-image: none;
  padding-bottom: 40px;
}

/* footer social */

.footer-social{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  height: 120px;
  margin: 0 auto;
  padding: 0;
}

.footer-social-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 110px;
  list-style-type: none;
  padding-left: 70px;
}

.footer-contacts {
  color: #000000;
  font-weight: 400;
  line-height: 40px;
  font-size: 40px;
  text-decoration: none;
  padding-bottom: 6px;
}

.academy-link {
  padding-left: 195px;
  width: 150px;
}
